{% extends 'base.html.twig' %}

{% block title %}Catégorie {{ category.name }}{% endblock %}

{% block body %}
  <h1>Catégorie : {{ category.name }}</h1>

  {% if programs is not empty %}
    <ul>
      {% for program in programs %}
        <li>
          <strong>#{{ program.id }}</strong> —
          <a href="{{ path('program_show', { id: program.id }) }}">
            {{ program.title }}
          </a>
          <br>
          <small>{{ program.synopsis }}</small>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Aucune série trouvée.</p>
  {% endif %}

  <p>
    <a href="{{ path('category_index') }}">← Retour aux catégories</a>
  </p>
{% endblock %}
