{% extends 'base.html.twig' %}

{% block title %}Editer : {{ episode.title }}{% endblock %}

{% block body %}
  <h1>Editer l’épisode</h1>

  {{ include('episode/_form.html.twig', { button_label: 'Mettre à jour' }) }}

  <p class="mt-3">
    <a href="{{ path('app_episode_show', { slug: episode.slug }) }}">← Retour à l’épisode</a>
    &nbsp;|&nbsp;
    <a href="{{ path('app_episode_index') }}">Liste des épisodes</a>
  </p>

  {{ include('episode/_delete_form.html.twig') }}
{% endblock %}
