{% extends 'base.html.twig' %}

{% block title %}Toutes les séries{% endblock %}

{% block body %}
    <h1>Toutes les séries de la table program :</h1>

    {# Formulaire de recherche #}
    {{ form_start(form) }}
        <div class="input-group mb-3">
            {{ form_widget(form.search, {
                attr: {
                    class: 'form-control',
                    placeholder: 'Rechercher une série ou un acteur…'
                }
            }) }}
            <button type="submit" class="btn btn-outline-primary">Search</button>
        </div>
    {{ form_end(form) }}

    <p><strong>Résultats : {{ programs|length }}</strong></p>

    {% for program in programs %}
        <div class="mb-4">
            <h2>{{ loop.index }} / {{ program.title }} - Catégorie : {{ program.category.name }}</h2>
            <p>{{ program.synopsis }}</p>
            <a href="{{ path('program_show', { slug: program.slug }) }}">Voir la fiche</a>
        </div>
    {% else %}
        <p>Aucune série trouvée.</p>
    {% endfor %}
{% endblock %}
